body {
    font-size: 15px;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
}


/* container & beginning of the header */

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    position: relative;
    /* max-height: 54px; */
    /* background-color: aqua; */
    z-index: 999;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* header css  */


/* image&left_links&right_links */

.header-content {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px !important;
    /* justify-content: space-between; */
    /* background-color: green; */
    /* max-height: 54px; */
}

.logo_image {
    float: left;
    width: 100%;
    max-width: 137px;
    padding: 16px 6px 16px 10px;
}


/* right&left links */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-left: 20px;
}

.nav_right,
.nav_right>div {
    display: flex;
}

.fa-chevron-down {
    /* padding-left: 0.4rem;
    color: #b1b2b2;
    padding-top: 0.2rem; */
    padding-left: 0.5rem;
    color: #b1b2b2;
    padding-top: 0.2rem;
    cursor: pointer;
}

.fa-cart-shopping {
    padding-left: 0.4rem;
    padding-top: 0.2rem;
}


/* search icon or magnify */

nav img {
    padding-left: 0.5rem;
    cursor: pointer;
}

.left_links,
.right_links {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ff1900; */
}

.left_links li,
.right_links li {
    display: flex;
    padding-right: 15px;
}

.left_links a:hover,
.right_links a:hover {
    border-bottom: 2px solid #000;
}

.signin {
    max-width: 160px;
    line-height: 48px;
    vertical-align: top;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 4px;
}

.sign_plus {
    height: 32px;
    width: 32px;
    margin: 8px;
    /* background-color: #0067b8; */
}


/* Header end */


/********************************************/


/* raj main css (4sections)  */

.laptop_section {
    position: relative;
    /* padding-inline: 20rem; */
}


/* section big_img */

.laptop_section img {
    width: 100%;
    max-width: 1600px;
}

.hp_laptop {
    position: absolute;
    top: 10%;
    left: 8%;
    /* transform: translateY(50%); */
}

.hp_laptop h1 {
    font-size: 34px;
    line-height: 40px;
    margin: -3px 0 0;
    font-weight: 600;
}


/* 
.btnshopnow :hover {
    border-bottom: 2px solid #fff;
} */

.text {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 0 0;
    font-weight: 400;
    max-height: 80px;
}


/* end of section_one */


/* .fa-get-pocket {
            padding-left: 6px;
        } */


/* btn css  */

.btn_1 a {
    text-decoration: none;
    /* color: #0067b8; */
}

.btn_1 {
    font-size: 15px;
    padding: 10px 20px 6px 22px;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    max-width: 100%;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    transition: all 200ms ease-in-out;
    background: #fff;
}

.btn_1:hover a {
    border-bottom: 2px solid #000;
}

.butter .btn_2 {
    font-size: 15px;
    padding: 10px 20px 6px 22px;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    max-width: 100%;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    transition: all 200ms ease-in-out;
}


/* 
.btn :hover a {
    border-bottom: 2px solid #fff;
    transition: .3s ease-in-out;
    font-weight: 400;
} */


/* 
.btnshopnow {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    line-height: 18.5px;
    padding: 10px 22px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 24px;
}

.btnshopnow a :hover {
    border-bottom: 2px solid #fff;
}

.btnshopnow i {
    transition: transform 200ms ease-in-out;
}

.btnshopnow:hover i {
    transform: translateX(50%);
} */


/* btn css  */

.btn {
    width: fit-content;
    font-weight: 700;
    font-size: 1rem;
    padding: .6rem 1rem;
    cursor: pointer;
}

.btn_bg-white {
    background-color: #fff;
    color: #000;
}

.btn_bg-black {
    background-color: #000;
    color: #fff;
}

.btn:hover a {
    border-bottom: 2px solid;
}

.text_clr-white {
    color: #fff !important;
}

.text_clr-black {
    color: #000 !important;
}

.fa-chevron-right {
    padding-left: 0.5rem;
    font-size: 13px !important;
}


/* button css ends here*/

.hp_laptop p {
    margin-bottom: 2rem;
}


/* Starting of Section 2 */

.accessories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block: 4rem;
}

.access {
    display: flex;
    justify-content: center;
    margin-inline: 3rem;
    font-weight: 600;
    cursor: pointer;
    /* padding: 12px 6px; */
}

.accessories li {
    width: 100%;
    max-width: 150px;
    min-height: 44px;
}

.access {
    display: inline-block;
    vertical-align: top;
}

.access a {
    display: inline-block;
    padding: 12px 6px;
    min-height: 44px;
}

.access a:hover {
    text-decoration: underline;
}

.access img {
    max-width: 40px;
}


/* 
.accessories_container :hover {
    border-bottom: 2px solid #0067b8;
} */


/* STARTING OF SECTION 2 */

.services_section {
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


/* SELECTING THE SERVICE */

.service {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* SELECTING ANCHOR TAG */

.service a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #0067b8;
    font-weight: 600;
}


/* ANCHOR TAG ON HOVER */

.service a:hover {
    text-decoration: underline;
}


/* TARGETTING THE IMAGE INSIDE THE ANCHOR TAG */

.service a img {
    padding-bottom: 0.3rem;
}


/* END OF SECTION 2 */


/* .para :hover {
    border-bottom: 1px solid #0067b8;
} */


/*
        .dev_tools {
            background-color: #ff1900;
        }
        */

.devtools_list {
    width: 100%;
    max-width: 1600px;
}

.devtools_list {
    display: flex;
    justify-content: space-between;
}

.devtools_list li,
.devtools_list li a img {
    width: 100%;
    max-width: 382px;
    padding-top: 2rem;
}

.devtools_list h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}

.business h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 48px 0 15px 0;
}

.butterfly_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
}

.twins {
    position: relative;
}

.butter {
    position: absolute;
    top: 35%;
    left: 5%;
}

.butterfly {
    color: #f1eaea;
}

.butterfly_text {
    color: #fff;
    max-width: 500px;
    padding-bottom: 1rem;
}

.articles {
    font-size: 0.75rem;
}

.footer__heading {
    padding-left: 2.5rem;
    color: #535657;
}

.footer__list li {
    padding-right: 2.5rem;
    list-style: none;
}